*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #1f74c9;
    color: #222;
    padding: 20px;
    line-height: 1.6;
}

header{
    background: #002b1273;
    color: white;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 1rem;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
    gap: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    transition: color 0.5s ease;
}

nav a:hover{
    color: #f0c000;
}

main section{
    margin: 40px auto;
    max-width: 800px;
    animation: fadeUp 0.10 ease-out;
}

h2{
    margin-bottom:10px;
    color: #003300;
}

a{
    color: #006600;
}

.project-card{
    background: rgba(133, 133, 133, 0.418);
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}

.project-card:hover{
    transform: translateY(-5px);
}

footer{
    text-align: center;
    padding: 20px;
    background: #e0e0e0;
    margin-top: 50px;
    border-radius: 1rem;
}

@keyframes fadeUp {
    from{
        opacity: 0;
        transform: translateY(30px);
    }to{
        opacity: 1;
        transform: translateY(0);
    }
}


html{
    scroll-behavior: smooth;
}

.floating-form{
    max-width: 500px;
    margin: auto;
}

.form-group{
    position: relative;
    margin-bottom: 20px;
}

.form-group input,
.form-group textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background: transparent;
}

.form-group label{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #a1a1a1;
    pointer-events: none;
    transition: 0.5s ease all;
    background-color: #00000044;
    padding: 0 5px;
    backdrop-filter: blur(10px);
}

.form-group input:focus + label,
.form-group input:valid + label,
.form-group textarea:focus + label,
.form-group textarea:valid + label{
    top: -10px;
    font-size: 0.85rem;
    color: #a1a1a1;
}

button{
    padding: 10px;
    border-radius: 8px;
    color: #ccc;
    background-color: #003300;
    opacity: 0.8;
    transition: 0.4s ease-in-out ;
    
}

button:hover{
    opacity: 1;
    padding: 12px;
}   